
.container {
      display: flex;
      flex-wrap: wrap;
}
.images-grid {
      width: 50%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      
}
.images-grid img {
      
      background-color: #ddd;
}

.info-section {
      width: 50%;
      padding: 10px;
     
}
.about-us {
      margin-bottom: 20px;
}
.features {
      list-style: none;
      padding: 0;
}

.fa1{
      margin-right: 100px;
}
.fa2{
      margin-right: 95px;
      
}
.h3about{
      color: rgb(255, 115, 0);
}
.h1about{
      color: rgb(0, 60, 255);
}
.btn-about{
      background-color: rgb(255, 115, 0);
}